.portfolio__container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.5rem;
}

.portfolio__item{
    background: var(--color-bg-variant-2);
    padding: 1.2rem;
    border-radius:  2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio__items:hover{
    border-color: var(--color-bg-variant);
    background: transparent;
}

.portfolio__item-image{
    border-radius: 1.5rem;
    overflow: hidden
}

.portfolio__item h3{
    margin: 1.2rem 0 2rem;
}

.portfolio__item-cta{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.swiper {
    width: 20rem;
    height: 30rem;

  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-radius: 18px; */
    /* font-size: 22px; */
    /* font-weight: bold; */
    color: #fff;
  }

/*================== MEDIA QUERIES (MEDIEUM DEVICES) ==================*/
@media screen and (max-width: 1024px) {
    .portfolio__container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

/*================== MEDIA QUERIES (SMALL DEVICES) ==================*/
@media screen and (max-width: 680px) {
    .portfolio__container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}